name: Disable workflow video

on:
  push:
      branches: [ main ]

jobs:
  disable:
    runs-on: ubuntu-latest

    steps:
     - name: Ayushi Tiwari
       run: echo "Disable Workflow Video DevOps"


